<h1>{{ poll.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'blogs:create' %}" method="post">
{% csrf_token %}
    Title:
    <input type="text" name="blog[title]" id="title" />
    Content:
    <textarea id="content" name="blog[content]"></textarea>
    Writer:
    <input type="text" name="blog[writer]" id="writer" />
    Email:
    <input type="text" name="blog[email]" id="email" />
<input type="submit" value="Create" />
</form>
